In [31]:
import pandas as pd
import numpy as np

In [32]:
kelahiran_df = pd.read_csv("E:datamining-master/dataset_soal No. 3.csv", usecols=['Usia','Kelahiran_ke-','Waktu_Kelahiran','Tekanan_darah'], 
                        sep=';',dtype={'Usia': 'int32', 'Kelahiran_ke-': 'int32', 'Waktu_Kelahiran': 'int32', 'Tekanan_darah': 'int32'})

In [33]:
kelahiran_df.head()

   Usia  Kelahiran_ke-  Waktu_Kelahiran  Tekanan_darah
0    22              1                0              2
1    26              2                0              1
2    26              2                1              1
3    28              1                0              2
4    22              2                0              1

In [34]:
kelahiran_df.shape

(80, 4)

In [48]:
pd.set_option('display.float.format', lambda x: '%.3f' %x)
print(kelahiran_df['Usia'].describe())

count   80.000
mean    27.688
std      5.018
min     17.000
25%     25.000
50%     27.000
75%     32.000
max     40.000
Name: Usia, dtype: float64

In [ ]:
popularity_treshold = 30
umur_df = dataset_soal_with_Usia.query('Usia >= @popularity_treshold')
umur_df.head()

In [ ]:
query_index = np.random.choice(kelahiran_df.shape[0])
print(query_index)
distance, indices = model_kkn.kneighbors(kelahiran_df.iloc[query_index,:].values.reshape(1,-1),n_neighbors = 3)